{% extends '::base.html.twig' %}
{% block body %}
        <h2>Page paris</h2>
        <h3>Ajout paris</h3>
        <div id="ajoutParis">
            {{form_start(formParis)}}
            {{form_end(formParis)}}
        </div>
    {%endblock body%}